<div class="jumbotron">
  <center>
    <h1><%= @do_nut.name %></h1>
    <img src="<%= @do_nut.image %>">
  </center>
  <h3>name: <%= @do_nut.name %></h3>
  <h3>toppings: <%= @do_nut.toppings %></h3>
  <h3>Price: <%= @do_nut.price %></h3>
</div>
